.f14w300 {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.f14w700 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.f16w200 {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}
.f16w300 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.f16w700 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
