:root {
  --black: #252525;
  --white: #fff;
  --bg: #e5e5e5;
  --brown: #cca88a;
  --brown-light: #e0bea2;
  --font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
